@media screen and (max-width: 1920px) {
    .logo img {
        overflow: hidden;
        display: inline-flex;
        width: 15%;
        position: absolute;
        left: 42.5%;
        top: 10%;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
}